body{
	background: #e5e5e5;
	font-size: 16px;
}
footer, header{
	background: #66cbdd;
	padding: 1em;
}
header *{
	display: inline-block;
	vertical-align: middle;
}
.btn-comprar{
	background: #e74c3c;
	color: white;
	padding: .5em 1em;
}
.btn-comprar:hover{
	background: #ec7063;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.27);
}
.btn_login{
	background: rgba(0,0,0,.1);
	border-radius: .75em;
	padding: .5em 1em;
	position: absolute;
	right: 10px;
	top: 30px;
}
.btn_login h3, .btn_login a{
	color: #101010;
}
.btn_login img{
	padding-right: .5em;
}
.container{
	padding: 1em 0;
	width: 100%;
}
.divmenu{
	background: #febb22;
	padding: .5em 0;
}
.info-container, .cover-container{
	display: inline-block;
	vertical-align: top;
}
.info-container{
	padding: 0 1em;
	max-width: 70%;
}
.info-container a{
	color: #fefefe;
	text-decoration: none;
}
.info-container h2{
	margin: 0;
}
.info-container h4{
	margin: 0;
}
.info-container h5{
	margin: 1em 0;
}
.menu li{
	display: inline-block;
	list-style: none;
	padding: 0 1em;
}
.menu li a{
	color: #333333;
	text-decoration: none;
}
.menu li a:hover{
	color: black;
}
.producto{
	display: inline-block;
	vertical-align: top;
}
.row{
	margin-top: .2em;
	display: table-row;
}
.row div{
	background: #dedede;
	border: solid .15em white;
	display: table-cell;
	height: 3.5em;
	margin: .1em;
	padding: .05em 1em;
	text-align: center;
	vertical-align: middle;
}
.head div{
	background: #323232;
	color: #efefef;
}
.votos *{
	color: black;
	vertical-align: top;
}
.wrap{
	background: #fefefe;
	margin: 0 auto;
	max-width: 1200px;
}
.wrap-contain{
	background: #ECF0F1;
	margin: 0 auto;
	max-width: 1000px;
}

.artgen{
	background: #73E59C;
}
.artplat{
	background: #8A90DA;
}