{% extends "base.html" %}
{% load thumbnail %}

{% block contain %}
<div class="container">
	<div class="cover-container">
		{% thumbnail prod.portada "200x200" crop="center" as im %}
		<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
		{% endthumbnail %}
	</div>
	<div class="info-container">
		<h2>{{ prod.nombre }}</h2>
		<h5>{{ prod.fecha_lanzamiento }}</h5>
		{% if user.is_anonymous %}
			<span class="btn-comprar">Comprar {{ prod.precio }}$</span>
		{% else %}
			{% if is_compra %}
				<a class="btn-comprar" href="#comprado">Comprado </a>
			{% else %}
				<a class="btn-comprar" href="#comprar" onclick="Dajaxice.main.comprar(compra_callback, {'pid':{{ prod.pk }} });">Comprar {{ prod.precio }}$</a>
			{% endif %}
		{% endif %}
		<div>
			<h3>{{ prod.descripcion }}</h3>
		</div>
		<h4>{{ prod.categoria }}</h4>
		{% include "votos.html" %}
	</div>
</div>
<div class="trailer">
	<iframe width="560" height="315" src="{{ prod.trailer }}" frameborder="0"></iframe>
</div>

<div class="jcarousel-skin-tango">
	<div class="jcarousel-container">
		<div class="jcarousel-prev">&laquo;</div>
		<div class="jcarousel-clip">
			<ul id="mycarousel" class="jcarousel-list">
				{% for capt in capturas %}
					<li class="jcarousel-item-{{ forloop.counter }}">
						{% thumbnail capt.img_captura "400x300" crop="center" as im %}
						<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
						{% endthumbnail %}
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="jcarousel-next">&raquo;</div>
	</div>
</div>

{% if user.is_authenticated %}
<form method="post">
	<div id="form_comment">
		{% csrf_token %}
		{% thumbnail usuario.avatar "50x50" crop="center" as im %}
		    <img src="{{ im.url }}">
		{% endthumbnail %}
		{{ form }}
		<p><input id="submit_form_comment" type="submit" value="Comentar"></p>
	</div>
</form>
{% endif %}

<section class="section_comment">
{% for comment in comments %}
	<article class="content_comment">
		{% thumbnail comment.user.avatar "50x50" crop="center" as im %}
		    <img src="{{ im.url }}">
		{% endthumbnail %}
		<h2>{{ comment.user.username }}</h2>
		<h3>{{ comment.comment }}</h3>
		<h5 title="{{ comment.submit_date|date:"D d M Y h:m A" }}"></h5>
	</article>
{% endfor %}
</section>

	<div class="pago" id="pago">
		<div class="overlay animated"></div>
		<div class="panel animated">
			<h2>Gracias por comprar</h2>
			<div class="screen active">
				{% thumbnail prod.portada "200x200" crop="center" as im %}
				<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
				{% endthumbnail %}
				<h3>No olvides votar y comentar lo juegos que mas te gusten.</h3>
				<button id="cerrar" type="text" href="#url">Aceptar</button>
			</div>
		</div>
	</div>

	<div class="pago" id="stock">
		<div class="overlay animated"></div>
		<div class="panel animated">
			<h2>Lo sentimos :(</h2>
			<div class="screen active">
				{% thumbnail prod.portada "200x200" crop="center" as im %}
				<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
				{% endthumbnail %}
				<h3>Se nos ha acabado este juego. En breve lo solucionamos.</h3>
				<button id="cerrar_stock" type="text" href="#url">Aceptar</button>
			</div>
		</div>
	</div>

	<div class="pago" id="notcard">
		<div class="overlay animated"></div>
		<div class="panel animated">
			<h2>Lo sentimos :(</h2>
			<div class="screen active">
				{% thumbnail prod.portada "200x200" crop="center" as im %}
				<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
				{% endthumbnail %}
				<h3 id="msj"></h3>
				<button id="cerrar_card" type="text" href="#url">Aceptar</button>
			</div>
		</div>
	</div>

{% endblock contain %}