{% extends "base.html" %}
{% load thumbnail %}
{% block contain %}
<div class="container">
	<div class="cover-container">
		{% thumbnail prod.portada "200x200" crop="center" as im %}
		<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
		{% endthumbnail %}
	</div>
	<div class="info-container">
		<h2>{{ prod.nombre }}</h2>
		<h5>{{ prod.fecha_lanzamiento }}</h5>
		{% if user.is_anonymous %}
			<span class="btn-comprar">Comprar</span>
		{% else %}
			{% if is_compra %}
				<a class="btn-comprar" href="#comprado">Comprado</a>
			{% else %}
				<a class="btn-comprar" href="#comprar" onclick="Dajaxice.main.comprar(compra_callback, {'pid':{{ prod.pk }} });">Comprar</a>
			{% endif %}
		{% endif %}
		<div>
			<h3>{{ prod.descripcion }}</h3>
		</div>
		<h4>{{ prod.categoria }}</h4>
		{% include "votos.html" %}
	</div>
</div>
<iframe width="560" height="315" src="{{ prod.trailer }}" frameborder="0"></iframe>
<div id="capturas">
{% for capt in capturas %}
	<div>
		{% thumbnail capt.img_captura "550x450" crop="center" as im %}
		<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
		{% endthumbnail %}
	</div> 
{% endfor %}
</div>
{% endblock contain %}